@font-face {
	font-family: Droid Sans;
	src: local("Droid Sans"), local("DroidSans"), url(http://fonts.gstatic.com/s/droidsans/v6/s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Droid Sans;
	src: local("Droid Sans Bold"), local("DroidSans-Bold"), url(http://fonts.gstatic.com/s/droidsans/v6/EFpQQyG9GqCrobXxL-KRMQFhaRv2pGgT5Kf0An0s4MM.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Droid Serif;
	src: local("Droid Serif"), local("DroidSerif"), url(http://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaIbN6UDyHWBl620a-IRfuBk.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Droid Serif;
	src: local("Droid Serif Bold"), local("DroidSerif-Bold"), url(http://fonts.gstatic.com/s/droidserif/v6/QQt14e8dY39u-eYBZmppwTqR_3kx9_hJXbbyU8S6IN0.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Droid Serif;
	src: local("Droid Serif Italic"), local("DroidSerif-Italic"), url(http://fonts.gstatic.com/s/droidserif/v6/cj2hUnSRBhwmSPr9kS5899kZXW4sYc4BjuAIFc1SXII.woff) format("woff");
	font-weight: 400;
	font-style: italic;
}
