@import url( tr_base.css );
@font-face {
	font-family: IcoMoon;
	src: url(../../../media/jui/fonts/IcoMoon.eot?#iefix) format("embedded-opentype"), url(../../../media/jui/fonts/IcoMoon.woff) format("woff"), url(../../../media/jui/fonts/IcoMoon.ttf) format("truetype"), url(../../../media/jui/fonts/IcoMoon.svg#IcoMoon) format("svg");
	font-weight: normal;
	font-style: normal;
}
.clearfix {
	-ms-zoom: 1;
}
.clearfix::before {
	display: table; content: "";
}
.clearfix::after {
	display: table; content: "";
}
.clearfix::after {
	clear: both;
}
.center-block {
	margin: 0px auto; display: block;
}
.container {
	margin: 0px auto; width: 940px; -ms-zoom: 1;
}
.container::before {
	display: table; content: "";
}
.container::after {
	display: table; content: "";
}
.container::after {
	clear: both;
}
#logo {
	margin: 20px 0px 0px 20px; height: 105px;
}
a:link {
	color: rgb(255, 0, 0);
}
a:visited {
	color: rgb(255, 0, 0);
}
h1 a {
	text-decoration: none;
}
h2 a {
	text-decoration: none;
}
h3 a {
	text-decoration: none;
}
h4 a {
	text-decoration: none;
}
h5 a {
	text-decoration: none;
}
h6 a {
	text-decoration: none;
}
h1 a:hover {
	text-decoration: underline;
}
h2 a:hover {
	text-decoration: underline;
}
h3 a:hover {
	text-decoration: underline;
}
h4 a:hover {
	text-decoration: underline;
}
h5 a:hover {
	text-decoration: underline;
}
h6 a:hover {
	text-decoration: underline;
}
#content_area h2 {
	font-size: 1.5em; margin-bottom: 5px;
}
p.readmore {
	text-indent: 0px; font-size: 0.9em;
}
p {
	margin-bottom: 1em;
}
blockquote {
	line-height: 1.4; padding-left: 12px; font-family: Georgia, "Times New Roman", serif; font-size: 1.2em; margin-left: 12px; border-left-color: rgb(204, 204, 204); border-left-width: 6px; border-left-style: solid;
}
blockquote cite {
	margin-left: 0px;
}
q {
	font-style: italic;
}
cite {
	margin-left: 30px;
}
code {
	background: rgb(243, 243, 243); border-width: 1px 1px 1px 12px; border-style: solid; border-color: rgb(204, 204, 204); margin: 4px 0px 10px; padding: 8px 12px; color: rgb(51, 51, 51); display: block; text-shadow: 0px 1px 0px #ffffff;
}
abbr {
	line-height: 16px;
}
code {
	line-height: 16px;
}
kbd {
	line-height: 16px;
}
samp {
	line-height: 16px;
}
small {
	line-height: 16px;
}
var {
	line-height: 16px;
}
abbr {
	text-transform: uppercase; font-size: 85%; border-bottom-color: currentColor; border-bottom-width: 0.1em; border-bottom-style: dotted; cursor: help;
}
acronym {
	text-transform: uppercase; font-size: 85%; border-bottom-color: currentColor; border-bottom-width: 0.1em; border-bottom-style: dotted; cursor: help;
}
sup {
	vertical-align: super;
}
sub {
	vertical-align: sub;
}
sup {
	line-height: 0;
}
sub {
	line-height: 0;
}
small {
	font-size: 80%;
}
sup {
	font-size: 80%;
}
sub {
	font-size: 80%;
}
ul {
	padding-top: 0px;
}
ol {
	padding-top: 0px;
}
ol {
	list-style: decimal;
}
ul {
	list-style: square;
}
li {
	margin-left: 30px;
}
dl {
	margin-bottom: 20px;
}
hr {
	margin-bottom: 20px;
}
ol {
	margin-bottom: 20px;
}
ul {
	margin-bottom: 20px;
}
pre {
	margin-bottom: 20px;
}
table {
	margin-bottom: 20px;
}
address {
	margin-bottom: 20px;
}
fieldset {
	margin-bottom: 20px;
}
label {
	margin-bottom: 5px; display: block;
}
dt {
	font-weight: bold;
}
dd {
	background: no-repeat left top; padding-left: 18px; font-style: italic; margin-bottom: 12px;
}
.highlight {
	background: rgb(255, 255, 221); padding: 0px 3px; color: rgb(0, 0, 0);
}
body {
	background-repeat: repeat; background-color: rgb(36, 36, 36);
}
#wrapper {
	background: url("../images/header_bg.png") repeat-x; padding-top: 10px;
}
#header-module {
	margin: 10px 10px 0px 0px; text-align: right;
}
#header {
	background: url("../images/header_bottom.png") repeat-x 0px bottom; width: 960px; height: 125px; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; float: left;
}
#main {
	background: url("../images/content_wrapper.png") repeat-x 0px 0px rgb(255, 255, 255); border-radius: 8px; margin-bottom: 45px; box-shadow: 0px 0px 10px #000000; -webkit-border-radius: 8px; -moz-border-radius: 8px; -webkit-box-shadow: 0 0 10px #000000; -moz-box-shadow: 0 0 10px #000000;
}
#navbar {
	width: 950px; height: 40px; padding-left: 10px; float: left; background-image: url("../images/nav_bg.png"); background-repeat: repeat-x;
}
#copyright {
	text-align: right; color: rgb(153, 153, 153); position: relative;
}
#copyright a {
	color: rgb(153, 153, 153); text-decoration: underline;
}
#footer {
	padding: 15px 0px; font-size: 0.9em;
}
#navbar .nav_wrapper {
	width: 700px; float: left;
}
#navbar .search_wrapper {
	margin-top: 7px; margin-right: 10px; float: right;
}
#navbar .search_wrapper input[type=text] {
	background: url("../images/mod_bg.png") repeat-x rgb(222, 222, 222); padding: 5px; border-radius: 5px; border: currentColor; border-image: none; width: 170px; color: rgb(153, 153, 153); box-shadow: inset 0px 0px 2px #bebebe; -webkit-border-radius: 5px; -moz-border-radius: 5px; -webkit-box-shadow: 0 0 2px #bebebe inset; -moz-box-shadow: 0 0 2px #bebebe inset;
}
#navbar .search_wrapper br {
	display: none;
}
#navbar .search_wrapper input[type=text]:focus {
	color: rgb(0, 0, 0);
}
#navbar .search_wrapper label {
	display: none;
}
#navbar ul ul {
	border-radius: 0px 0px 8px 8px; margin-top: 1px; border-right-color: rgba(0, 0, 0, 0.6); border-bottom-color: rgba(0, 0, 0, 0.6); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; box-shadow: 2px 2px 2px rgba(0,0,0,0.4); -webkit-border-radius: 0 0 8px 8px; -moz-border-radius: 0 0 8px 8px; -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4); -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
#navbar .nav {
	border-right-color: rgba(255, 255, 255, 0.1); border-left-color: rgba(0, 0, 0, 0.1); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; float: left;
}
#navbar .nav a {
	line-height: 40px; border-right-color: rgba(0, 0, 0, 0.1); border-left-color: rgba(255, 255, 255, 0.1); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
#navbar .nav-header {
	line-height: 40px; border-right-color: rgba(0, 0, 0, 0.1); border-left-color: rgba(255, 255, 255, 0.1); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
#navbar .separator {
	line-height: 40px; border-right-color: rgba(0, 0, 0, 0.1); border-left-color: rgba(255, 255, 255, 0.1); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
#navbar .nav .selected a {
	background: url("../images/hnav_bg.png") repeat-x 0px 1px; margin: 0px; color: rgb(255, 255, 255); border-right-color: rgba(0, 0, 0, 0.4); border-left-color: rgba(0, 0, 0, 0.4); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
#navbar .nav .active a {
	background: url("../images/hnav_bg.png") repeat-x 0px 1px; margin: 0px; color: rgb(255, 255, 255); border-right-color: rgba(0, 0, 0, 0.4); border-left-color: rgba(0, 0, 0, 0.4); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
#navbar .nav .selected ul a {
	margin: 0px; color: rgb(255, 255, 255); border-right-color: currentColor; border-left-color: currentColor; border-right-width: medium; border-left-width: medium; border-right-style: none; border-left-style: none; background-image: none;
}
#navbar .nav .active ul a {
	margin: 0px; color: rgb(255, 255, 255); border-right-color: currentColor; border-left-color: currentColor; border-right-width: medium; border-left-width: medium; border-right-style: none; border-left-style: none; background-image: none;
}
#navbar .nav .selected .selected a {
	background: url("../images/hnav_bg.png") repeat-x 0px 0px; margin: 0px 1px; color: rgb(255, 255, 255); border-right-color: currentColor; border-left-color: currentColor; border-right-width: medium; border-left-width: medium; border-right-style: none; border-left-style: none;
}
#navbar .nav .active .selected a {
	background: url("../images/hnav_bg.png") repeat-x 0px 0px; margin: 0px 1px; color: rgb(255, 255, 255); border-right-color: currentColor; border-left-color: currentColor; border-right-width: medium; border-left-width: medium; border-right-style: none; border-left-style: none;
}
#navbar .nav a:hover {
	background: url("../images/hnav_hover.png") repeat-x 0px 1px; margin: 0px; color: rgb(255, 255, 255); border-right-color: rgba(255, 255, 255, 0.2); border-left-color: rgba(255, 255, 255, 0.2); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
#navbar .nav ul a {
	border-width: 1px medium; border-style: solid none; border-color: rgba(255, 255, 255, 0.2) currentColor rgba(0, 0, 0, 0.2); line-height: 26px;
}
#navbar .nav-header {
	border-width: 1px medium; border-style: solid none; border-color: rgba(255, 255, 255, 0.2) currentColor rgba(0, 0, 0, 0.2); line-height: 26px;
}
#navbar .separator {
	border-width: 1px medium; border-style: solid none; border-color: rgba(255, 255, 255, 0.2) currentColor rgba(0, 0, 0, 0.2); line-height: 26px;
}
#navbar .nav ul a:hover {
	background: url("../images/hnav_hover.png") repeat-x 0px 0px; color: rgb(255, 255, 255); border-right-color: currentColor; border-left-color: currentColor; border-right-width: medium; border-left-width: medium; border-right-style: none; border-left-style: none;
}
#navbar .nav li.parent {
	
}
.nav-header {
	display: block;
}
.separator {
	display: block;
}
#navbar .nav-header {
	color: rgb(255, 255, 255);
}
#navbar .separator {
	color: rgb(255, 255, 255);
}
#navbar .nav li {
	list-style: none; margin: 0px; padding: 0px;
}
#navbar a {
	padding: 0px 10px; line-height: 30px; text-decoration: none;
}
#navbar .nav-header {
	padding: 0px 10px; line-height: 30px; text-decoration: none;
}
#navbar .separator {
	padding: 0px 10px; line-height: 30px; text-decoration: none;
}
#navbar .nav {
	line-height: 1;
}
#navbar .nav ul {
	top: -999em; width: 14em; position: absolute;
}
#navbar .nav ul li {
	width: 100%;
}
#navbar .nav li:hover {
	visibility: inherit;
}
#navbar .nav li {
	float: left; position: relative;
}
#navbar .nav a {
	display: block; position: relative;
}
#navbar .nav li:hover ul {
	left: 0px; top: 38px; z-index: 99;
}
#navbar .nav li.sfHover ul {
	left: 0px; top: 38px; z-index: 99;
}
#navbar .nav li:hover li ul {
	top: -999em;
}
#navbar .nav li.sfHover li ul {
	top: -999em;
}
#navbar .nav li li:hover ul {
	left: 14em; top: 0px;
}
#navbar .nav li li.sfHover ul {
	left: 14em; top: 0px;
}
#navbar .nav li li:hover li ul {
	top: -999em;
}
#navbar .nav li li.sfHover li ul {
	top: -999em;
}
#navbar .nav li li li:hover ul {
	left: 14em; top: 0px;
}
#navbar .nav li li li.sfHover ul {
	left: 14em; top: 0px;
}
#navbar .nav a.sf-with-ul {
	padding-right: 25px; min-width: 1px;
}
.sf-sub-indicator {
	background: url("../images/arrows-ffffff.png") no-repeat -10px -100px; top: 1.05em; width: 10px; height: 10px; right: 10px; text-indent: -999em; overflow: hidden; display: block; position: absolute;
}
a > .sf-sub-indicator {
	background-position: 0px -100px; top: 15px;
}
a:focus > .sf-sub-indicator {
	background-position: -10px -100px;
}
a:hover > .sf-sub-indicator {
	background-position: -10px -100px;
}
a:active > .sf-sub-indicator {
	background-position: -10px -100px;
}
li:hover > a > .sf-sub-indicator {
	background-position: -10px -100px;
}
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px;
}
#navbar .nav ul .sf-sub-indicator {
	background-position: -10px 0px;
}
#navbar .nav ul a > .sf-sub-indicator {
	background-position: 0px 0px;
}
#navbar .nav ul a:focus > .sf-sub-indicator {
	background-position: -10px 0px;
}
#navbar .nav ul a:hover > .sf-sub-indicator {
	background-position: -10px 0px;
}
#navbar .nav ul a:active > .sf-sub-indicator {
	background-position: -10px 0px;
}
#navbar .nav ul li:hover > a > .sf-sub-indicator {
	background-position: -10px 0px;
}
#navbar .nav ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0px;
}
.sf-shadow ul {
	background: url("../images/shadow.png") no-repeat right bottom; padding: 0px 8px 9px 0px; border-radius: 0px 0px 17px 17px; -webkit-border-radius: 0 0 17px 17px; -moz-border-radius: 0 0 17px 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: none;
}
#content_wrapper {
	background: url("../images/content_wrapper.png") repeat-x; padding: 15px 0px; float: left;
}
#content_area h2 a:hover {
	color: black; text-decoration: none;
}
p.readmore a {
	background: url("../images/mod_bg.png") repeat-x rgb(222, 222, 222); padding: 4px 8px; border-radius: 6px; border: 1px solid rgb(204, 204, 204); border-image: none; line-height: 16px; font-weight: bold; text-decoration: none; display: inline-block; box-shadow: inset -1px -1px 0px #ababab; -webkit-border-radius: 6px; -moz-border-radius: 6px; -webkit-box-shadow: -1px -1px 0px #ababab inset; -moz-box-shadow: -1px -1px 0px #ababab inset;
}
p.readmore a:hover {
	background: url("../images/content_wrapper.png") repeat-x rgb(255, 255, 255); color: rgb(0, 0, 0);
}
#left h3 {
	font-size: 1.2em; margin-bottom: 0.5em;
}
#right h3 {
	font-size: 1.2em; margin-bottom: 0.5em;
}
#left .module {
	background: url("../images/mod_bg.png") repeat-x rgb(222, 222, 222); padding: 10px; border-radius: 8px; margin-bottom: 20px; border-top-color: rgb(187, 187, 187); border-left-color: rgb(187, 187, 187); border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid; box-shadow: inset 0px 0px 2px #bebebe; -webkit-border-radius: 8px; -moz-border-radius: 8px; -webkit-box-shadow: 0 0 2px #bebebe inset; -moz-box-shadow: 0 0 2px #bebebe inset;
}
#right .module {
	background: url("../images/mod_bg.png") repeat-x rgb(222, 222, 222); padding: 10px; border-radius: 8px; margin-bottom: 20px; border-top-color: rgb(187, 187, 187); border-left-color: rgb(187, 187, 187); border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid; box-shadow: inset 0px 0px 2px #bebebe; -webkit-border-radius: 8px; -moz-border-radius: 8px; -webkit-box-shadow: 0 0 2px #bebebe inset; -moz-box-shadow: 0 0 2px #bebebe inset;
}
#left .modulemodborder {
	background: none; padding: 10px; border-radius: 8px; margin-bottom: 20px; border-top-color: rgb(187, 187, 187); border-left-color: rgb(187, 187, 187); border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid; box-shadow: inset 0px 0px 2px #bebebe; -webkit-border-radius: 8px; -moz-border-radius: 8px; -webkit-box-shadow: 0 0 2px #bebebe inset; -moz-box-shadow: 0 0 2px #bebebe inset;
}
#right .modulemodborder {
	background: none; padding: 10px; border-radius: 8px; margin-bottom: 20px; border-top-color: rgb(187, 187, 187); border-left-color: rgb(187, 187, 187); border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid; box-shadow: inset 0px 0px 2px #bebebe; -webkit-border-radius: 8px; -moz-border-radius: 8px; -webkit-box-shadow: 0 0 2px #bebebe inset; -moz-box-shadow: 0 0 2px #bebebe inset;
}
#left .modborder {
	background: none; padding: 10px; border-radius: 8px; margin-bottom: 20px; border-top-color: rgb(187, 187, 187); border-left-color: rgb(187, 187, 187); border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid; box-shadow: inset 0px 0px 2px #bebebe; -webkit-border-radius: 8px; -moz-border-radius: 8px; -webkit-box-shadow: 0 0 2px #bebebe inset; -moz-box-shadow: 0 0 2px #bebebe inset;
}
#right .modborder {
	background: none; padding: 10px; border-radius: 8px; margin-bottom: 20px; border-top-color: rgb(187, 187, 187); border-left-color: rgb(187, 187, 187); border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid; box-shadow: inset 0px 0px 2px #bebebe; -webkit-border-radius: 8px; -moz-border-radius: 8px; -webkit-box-shadow: 0 0 2px #bebebe inset; -moz-box-shadow: 0 0 2px #bebebe inset;
}
#left .modulenobg {
	background: none; padding: 10px; border: currentColor; border-image: none; margin-bottom: 20px; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
#right .modulenobg {
	background: none; padding: 10px; border: currentColor; border-image: none; margin-bottom: 20px; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
#left .nobg {
	background: none; padding: 10px; border: currentColor; border-image: none; margin-bottom: 20px; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
#right .nobg {
	background: none; padding: 10px; border: currentColor; border-image: none; margin-bottom: 20px; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
#left .joomla-nav {
	background: url("../images/nav_separator.png") repeat-x left top rgb(222, 222, 222); padding: 2px 0px 0px; margin-bottom: 0px;
}
#left .joomla-nav-menu {
	background: url("../images/nav_separator.png") repeat-x left top rgb(222, 222, 222); padding: 2px 0px 0px; margin-bottom: 0px;
}
#left .menu {
	background: url("../images/nav_separator.png") repeat-x left top rgb(222, 222, 222); padding: 2px 0px 0px; margin-bottom: 0px;
}
#right .joomla-nav {
	background: url("../images/nav_separator.png") repeat-x left top rgb(222, 222, 222); padding: 2px 0px 0px; margin-bottom: 0px;
}
#right .joomla-nav-menu {
	background: url("../images/nav_separator.png") repeat-x left top rgb(222, 222, 222); padding: 2px 0px 0px; margin-bottom: 0px;
}
#right .menu {
	background: url("../images/nav_separator.png") repeat-x left top rgb(222, 222, 222); padding: 2px 0px 0px; margin-bottom: 0px;
}
#left .joomla-nav a {
	background: url("../images/nav_separator.png") repeat-x left bottom; padding: 2px 5px 4px; color: rgb(51, 51, 51); text-decoration: none; display: block;
}
#left .joomla-nav-menu a {
	background: url("../images/nav_separator.png") repeat-x left bottom; padding: 2px 5px 4px; color: rgb(51, 51, 51); text-decoration: none; display: block;
}
#left .menu a {
	background: url("../images/nav_separator.png") repeat-x left bottom; padding: 2px 5px 4px; color: rgb(51, 51, 51); text-decoration: none; display: block;
}
#right .joomla-nav a {
	background: url("../images/nav_separator.png") repeat-x left bottom; padding: 2px 5px 4px; color: rgb(51, 51, 51); text-decoration: none; display: block;
}
#right .joomla-nav-menu a {
	background: url("../images/nav_separator.png") repeat-x left bottom; padding: 2px 5px 4px; color: rgb(51, 51, 51); text-decoration: none; display: block;
}
#right .menu a {
	background: url("../images/nav_separator.png") repeat-x left bottom; padding: 2px 5px 4px; color: rgb(51, 51, 51); text-decoration: none; display: block;
}
#left .joomla-nav span.separator {
	background: url("../images/nav_separator.png") repeat-x left bottom; padding: 4px 5px 6px; color: rgb(137, 137, 137); text-transform: uppercase; font-size: 11px; font-weight: bold; text-decoration: none; display: block; text-shadow: 0px 1px 0px #fff;
}
#left .joomla-nav-menu span.separator {
	background: url("../images/nav_separator.png") repeat-x left bottom; padding: 4px 5px 6px; color: rgb(137, 137, 137); text-transform: uppercase; font-size: 11px; font-weight: bold; text-decoration: none; display: block; text-shadow: 0px 1px 0px #fff;
}
#left .menu span.separator {
	background: url("../images/nav_separator.png") repeat-x left bottom; padding: 4px 5px 6px; color: rgb(137, 137, 137); text-transform: uppercase; font-size: 11px; font-weight: bold; text-decoration: none; display: block; text-shadow: 0px 1px 0px #fff;
}
#left .menu span.nav-header {
	background: url("../images/nav_separator.png") repeat-x left bottom; padding: 4px 5px 6px; color: rgb(137, 137, 137); text-transform: uppercase; font-size: 11px; font-weight: bold; text-decoration: none; display: block; text-shadow: 0px 1px 0px #fff;
}
#right .joomla-nav span.separator {
	background: url("../images/nav_separator.png") repeat-x left bottom; padding: 4px 5px 6px; color: rgb(137, 137, 137); text-transform: uppercase; font-size: 11px; font-weight: bold; text-decoration: none; display: block; text-shadow: 0px 1px 0px #fff;
}
#right .joomla-nav-menu span.separator {
	background: url("../images/nav_separator.png") repeat-x left bottom; padding: 4px 5px 6px; color: rgb(137, 137, 137); text-transform: uppercase; font-size: 11px; font-weight: bold; text-decoration: none; display: block; text-shadow: 0px 1px 0px #fff;
}
#right .menu span.separator {
	background: url("../images/nav_separator.png") repeat-x left bottom; padding: 4px 5px 6px; color: rgb(137, 137, 137); text-transform: uppercase; font-size: 11px; font-weight: bold; text-decoration: none; display: block; text-shadow: 0px 1px 0px #fff;
}
#right .menu span.nav-header {
	background: url("../images/nav_separator.png") repeat-x left bottom; padding: 4px 5px 6px; color: rgb(137, 137, 137); text-transform: uppercase; font-size: 11px; font-weight: bold; text-decoration: none; display: block; text-shadow: 0px 1px 0px #fff;
}
#left .joomla-nav a:hover {
	background: url("../images/nav_separator.png") repeat-x left bottom rgb(239, 239, 239); color: rgb(0, 0, 0);
}
#left .joomla-nav-menu a:hover {
	background: url("../images/nav_separator.png") repeat-x left bottom rgb(239, 239, 239); color: rgb(0, 0, 0);
}
#right .joomla-nav a:hover {
	background: url("../images/nav_separator.png") repeat-x left bottom rgb(239, 239, 239); color: rgb(0, 0, 0);
}
#right .joomla-nav-menu a:hover {
	background: url("../images/nav_separator.png") repeat-x left bottom rgb(239, 239, 239); color: rgb(0, 0, 0);
}
#left .joomla-nav li {
	list-style: none; margin: 0px;
}
#left .joomla-nav-menu li {
	list-style: none; margin: 0px;
}
#left .menu li {
	list-style: none; margin: 0px;
}
#right .joomla-nav li {
	list-style: none; margin: 0px;
}
#right .joomla-nav-menu li {
	list-style: none; margin: 0px;
}
#right .menu li {
	list-style: none; margin: 0px;
}
#left .joomla-nav li ul a {
	text-indent: 10px;
}
#left .joomla-nav-menu li ul a {
	text-indent: 10px;
}
#left .menu li ul a {
	text-indent: 10px;
}
#right .joomla-nav li ul a {
	text-indent: 10px;
}
#right .joomla-nav-menu li ul a {
	text-indent: 10px;
}
#right .menu li ul a {
	text-indent: 10px;
}
#left .joomla-nav li ul ul a {
	text-indent: 20px;
}
#left .joomla-nav-menu li ul ul a {
	text-indent: 20px;
}
#left .menu li ul ul a {
	text-indent: 20px;
}
#right .joomla-nav li ul ul a {
	text-indent: 20px;
}
#right .joomla-nav-menu li ul ul a {
	text-indent: 20px;
}
#right .menu li ul ul a {
	text-indent: 20px;
}
#left .joomla-nav li ul ul ul a {
	text-indent: 30px;
}
#left .joomla-nav-menu li ul ul ul a {
	text-indent: 30px;
}
#left .menu li ul ul ul a {
	text-indent: 30px;
}
#right .joomla-nav li ul ul ul a {
	text-indent: 30px;
}
#right .joomla-nav-menu li ul ul ul a {
	text-indent: 30px;
}
#right .menu li ul ul ul a {
	text-indent: 30px;
}
#left .joomla-nav li#current a {
	background: url("../images/nav_separator.png") repeat-x left bottom rgb(255, 255, 255); font-weight: bold;
}
#left .joomla-nav-menu li#current a {
	background: url("../images/nav_separator.png") repeat-x left bottom rgb(255, 255, 255); font-weight: bold;
}
#left .menu li.current a {
	background: url("../images/nav_separator.png") repeat-x left bottom rgb(255, 255, 255); font-weight: bold;
}
#right .joomla-nav li#current a {
	background: url("../images/nav_separator.png") repeat-x left bottom rgb(255, 255, 255); font-weight: bold;
}
#right .menu li#current a {
	background: url("../images/nav_separator.png") repeat-x left bottom rgb(255, 255, 255); font-weight: bold;
}
#right .joomla-nav-menu li.current a {
	background: url("../images/nav_separator.png") repeat-x left bottom rgb(255, 255, 255); font-weight: bold;
}
#left .joomla-nav li#current a:hover {
	background: url("../images/nav_separator.png") repeat-x left bottom rgb(239, 239, 239); color: rgb(0, 0, 0);
}
#left .joomla-nav-menu li#current a:hover {
	background: url("../images/nav_separator.png") repeat-x left bottom rgb(239, 239, 239); color: rgb(0, 0, 0);
}
#left .menu li.current a:hover {
	background: url("../images/nav_separator.png") repeat-x left bottom rgb(239, 239, 239); color: rgb(0, 0, 0);
}
#right .joomla-nav li#current a:hover {
	background: url("../images/nav_separator.png") repeat-x left bottom rgb(239, 239, 239); color: rgb(0, 0, 0);
}
#right .joomla-nav-menu li#current a:hover {
	background: url("../images/nav_separator.png") repeat-x left bottom rgb(239, 239, 239); color: rgb(0, 0, 0);
}
#right .menu li.current a:hover {
	background: url("../images/nav_separator.png") repeat-x left bottom rgb(239, 239, 239); color: rgb(0, 0, 0);
}
#left .joomla-nav li#current ul a {
	background: url("../images/nav_separator.png") repeat-x left bottom rgb(222, 222, 222); border: currentColor; border-image: none; color: rgb(51, 51, 51); font-weight: normal;
}
#left .joomla-nav-menu li#current ul a {
	background: url("../images/nav_separator.png") repeat-x left bottom rgb(222, 222, 222); border: currentColor; border-image: none; color: rgb(51, 51, 51); font-weight: normal;
}
#left .menu li.current ul a {
	background: url("../images/nav_separator.png") repeat-x left bottom rgb(222, 222, 222); border: currentColor; border-image: none; color: rgb(51, 51, 51); font-weight: normal;
}
#right .joomla-nav li#current ul a {
	background: url("../images/nav_separator.png") repeat-x left bottom rgb(222, 222, 222); border: currentColor; border-image: none; color: rgb(51, 51, 51); font-weight: normal;
}
#right .joomla-nav-menu li#current ul a {
	background: url("../images/nav_separator.png") repeat-x left bottom rgb(222, 222, 222); border: currentColor; border-image: none; color: rgb(51, 51, 51); font-weight: normal;
}
#right .menu li.current ul a {
	background: url("../images/nav_separator.png") repeat-x left bottom rgb(222, 222, 222); border: currentColor; border-image: none; color: rgb(51, 51, 51); font-weight: normal;
}
.breadcrumb {
	font-size: 11px; margin-bottom: 5px;
}
.breadcrumbs {
	font-size: 11px; margin-bottom: 5px;
}
ul.breadcrumb li {
	list-style: none; font-size: 11px; margin-right: 5px; margin-left: 0px; display: inline-block;
}
ul.breadcrumb .divider {
	margin-left: 5px; display: inline-block;
}
ul.breadcrumb li.active {
	display: none;
}
.breadcrumbs img {
	margin: 0px 2px;
}
.breadcrumbs .showHere {
	margin: 0px 4px 0px 0px;
}
.breadcrumbs a {
	text-decoration: none;
}
ul.breadcrumb a {
	text-decoration: none;
}
.breadcrumbs a:hover {
	color: rgb(0, 0, 0); text-decoration: underline;
}
.categories-list ul li {
	list-style: none; margin-left: 0px;
}
.categories-list ul li span.item-title {
	font-size: 1.4em;
}
.categories-list ul li .category-desc {
	margin-bottom: 0px;
}
.categories-list ul li .category-desc p {
	margin-bottom: 0px;
}
.categories-list ul li dl {
	color: rgb(153, 153, 153); padding-bottom: 10px; font-size: 11px; margin-bottom: 10px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
.categories-list ul li dt {
	font-weight: bold;
}
.categories-list ul li dt {
	display: inline;
}
.categories-list ul li dd {
	display: inline;
}
.categories-list ul li ul {
	margin-left: 15px;
}
.categories-list .page-header .icon-plus {
	display: none;
}
.element-invisible {
	display: none;
}
.cat-children li {
	list-style: none; margin: 0px;
}
.cat-children li .item-title {
	font-size: 1.4em;
}
.cat-children li .category-desc {
	padding-bottom: 10px; font-size: 12px; margin-bottom: 20px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
dl.article-info {
	margin: 0px 0px 5px; padding: 0px; color: rgb(102, 102, 102); font-size: 11px;
}
dl.article-info dd {
	margin-right: 15px; display: inline-block;
}
dl.article-info dt.article-info-term {
	display: none;
}
dl.article-info dd {
	padding-left: 0px; font-style: normal; margin-bottom: 0px;
}
.img_caption {
	color: rgb(153, 153, 153); font-size: 11px; margin-bottom: 0px;
}
.tplc {
	right: 0px; bottom: -40px; color: rgb(102, 102, 102); font-size: 9px; display: block; position: relative;
}
#copyright .tplc a {
	color: rgb(102, 102, 102); text-decoration: none;
}
.tags {
	margin-bottom: 5px;
}
.tag-category ul li {
	list-style: none; padding: 5px 10px; margin-left: 0px;
}
#content_area .tag-category h3 {
	font-size: 14px; font-weight: normal; margin-bottom: 0px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.label {
	color: rgb(255, 255, 255); line-height: 14px; font-size: 10.99px; font-weight: bold; vertical-align: baseline; white-space: nowrap; text-shadow: 0px -1px 0px rgba(0,0,0,0.25); background-color: rgb(153, 153, 153);
}
.badge {
	color: rgb(255, 255, 255); line-height: 14px; font-size: 10.99px; font-weight: bold; vertical-align: baseline; white-space: nowrap; text-shadow: 0px -1px 0px rgba(0,0,0,0.25); background-color: rgb(153, 153, 153);
}
.label {
	padding: 1px 4px 2px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.badge {
	padding: 1px 9px 2px; border-radius: 9px; -webkit-border-radius: 9px; -moz-border-radius: 9px;
}
a.label:link {
	padding: 2px 7px 4px; color: rgb(255, 255, 255); text-decoration: none;
}
a.badge:link {
	padding: 2px 7px 4px; color: rgb(255, 255, 255); text-decoration: none;
}
a.label:visited {
	padding: 2px 7px 4px; color: rgb(255, 255, 255); text-decoration: none;
}
a.badge:visited {
	padding: 2px 7px 4px; color: rgb(255, 255, 255); text-decoration: none;
}
a.label:hover {
	color: rgb(255, 255, 255); text-decoration: none; cursor: pointer;
}
a.badge:hover {
	color: rgb(255, 255, 255); text-decoration: none; cursor: pointer;
}
.label-important {
	background-color: rgb(185, 74, 72);
}
.badge-important {
	background-color: rgb(185, 74, 72);
}
[href].label-important {
	background-color: rgb(149, 59, 57);
}
[href].badge-important {
	background-color: rgb(149, 59, 57);
}
.label-warning {
	background-color: rgb(248, 148, 6);
}
.badge-warning {
	background-color: rgb(248, 148, 6);
}
[href].label-warning {
	background-color: rgb(198, 118, 5);
}
[href].badge-warning {
	background-color: rgb(198, 118, 5);
}
.label-success {
	background-color: rgb(70, 136, 71);
}
.badge-success {
	background-color: rgb(70, 136, 71);
}
[href].label-success {
	background-color: rgb(53, 102, 53);
}
[href].badge-success {
	background-color: rgb(53, 102, 53);
}
.label-info {
	background-color: rgb(58, 135, 173);
}
.badge-info {
	background-color: rgb(58, 135, 173);
}
[href].label-info {
	background-color: rgb(45, 105, 135);
}
[href].badge-info {
	background-color: rgb(45, 105, 135);
}
.label-inverse {
	background-color: rgb(51, 51, 51);
}
.badge-inverse {
	background-color: rgb(51, 51, 51);
}
[href].label-inverse {
	background-color: rgb(26, 26, 26);
}
[href].badge-inverse {
	background-color: rgb(26, 26, 26);
}
h3.page-header .badge-info {
	color: rgb(204, 204, 204);
}
.thumbnail.pull-right {
	margin: 0px 0px 10px 10px;
}
.thumbnail {
	margin-bottom: 9px;
}
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.hide {
	display: none;
}
.show {
	display: block;
}
.invisible {
	visibility: hidden;
}
.affix {
	position: fixed;
}
.hidden {
	display: none; visibility: hidden;
}
.visible-phone {
	display: none !important;
}
.visible-tablet {
	display: none !important;
}
.hidden-desktop {
	display: none !important;
}
.visible-desktop {
	display: inherit !important;
}
.thumbnail {
	padding: 4px; border-radius: 4px; border: 1px solid rgb(221, 221, 221); transition:0.2s ease-in-out; border-image: none; line-height: 18px; display: block; box-shadow: 0px 1px 3px rgba(0,0,0,0.055); -webkit-border-radius: 4px; -moz-border-radius: 4px; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055); -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out;
}
ul.actions {
	margin: -30px 0px 0px; clear: both; float: right;
}
ul.dropdown-menu {
	margin: -30px 0px 0px; clear: both; float: right;
}
ul.actions li {
	margin-left: 10px; float: right; list-style-type: none;
}
ul.dropdown-menu li {
	margin-left: 10px; float: right; list-style-type: none;
}
ul.dropdown-menu li a {
	font-size: 0px; text-decoration: none;
}
ul.dropdown-menu li a span {
	color: rgb(204, 204, 204); font-size: 16px; margin-right: 2px;
}
div#icons a.dropdown-toggle {
	display: none;
}
div.btn-group a.dropdown-toggle {
	display: none;
}
[data-icon]::before {
	font-family: "IcoMoon"; content: attr(data-icon); speak: none;
}
[class^='icon-'] {
	width: 14px; display: inline-block;
}
[class*=' icon-'] {
	width: 14px; display: inline-block;
}
[class^='icon-']::before {
	font-family: "IcoMoon"; font-style: normal; speak: none;
}
[class*=' icon-']::before {
	font-family: "IcoMoon"; font-style: normal; speak: none;
}
.icon-home::before {
	content: "\21";
}
.icon-user::before {
	content: "\22";
}
.icon-checkedout::before {
	content: "\23";
}
.icon-lock::before {
	content: "\23";
}
.icon-locked::before {
	content: "\23";
}
.icon-comment::before {
	content: "\24";
}
.icon-comments::before {
	content: "\24";
}
.icon-comments-2::before {
	content: "\25";
}
.icon-share-alt::before {
	content: "\26";
}
.icon-out::before {
	content: "\26";
}
.icon-share::before {
	content: "\27";
}
.icon-redo::before {
	content: "\27";
}
.icon-undo::before {
	content: "\28";
}
.icon-file-add::before {
	content: "\29";
}
.icon-new::before {
	content: "\2a";
}
.icon-plus::before {
	content: "\2a";
}
.icon-apply::before {
	content: "\2b";
}
.icon-edit::before {
	content: "\2b";
}
.icon-pencil::before {
	content: "\2b";
}
.icon-pencil-2::before {
	content: "\2c";
}
.icon-folder-open::before {
	content: "\2d";
}
.icon-folder::before {
	content: "\2d";
}
.icon-folder-close::before {
	content: "\2e";
}
.icon-folder-2::before {
	content: "\2e";
}
.icon-picture::before {
	content: "\2f";
}
.icon-pictures::before {
	content: "\30";
}
.icon-list::before {
	content: "\31";
}
.icon-list-view::before {
	content: "\31";
}
.icon-power-cord::before {
	content: "\32";
}
.icon-cube::before {
	content: "\33";
}
.icon-puzzle::before {
	content: "\34";
}
.icon-flag::before {
	content: "\35";
}
.icon-tools::before {
	content: "\36";
}
.icon-cogs::before {
	content: "\37";
}
.icon-options::before {
	content: "\38";
}
.icon-cog::before {
	content: "\38";
}
.icon-equalizer::before {
	content: "\39";
}
.icon-wrench::before {
	content: "\3a";
}
.icon-brush::before {
	content: "\3b";
}
.icon-eye-open::before {
	content: "\3c";
}
.icon-eye::before {
	content: "\3c";
}
.icon-checkbox-unchecked::before {
	content: "\3d";
}
.icon-checkin::before {
	content: "\3e";
}
.icon-checkbox::before {
	content: "\3e";
}
.icon-checkbox-partial::before {
	content: "\3f";
}
.icon-asterisk::before {
	content: "\40";
}
.icon-star-empty::before {
	content: "\40";
}
.icon-star-2::before {
	content: "\41";
}
.icon-featured::before {
	content: "\42";
}
.icon-star::before {
	content: "\42";
}
.icon-calendar::before {
	content: "\43";
}
.icon-calendar-2::before {
	content: "\44";
}
.icon-question-sign::before {
	content: "\45";
}
.icon-help::before {
	content: "\45";
}
.icon-support::before {
	content: "\46";
}
.icon-pending::before {
	content: "\48";
}
.icon-warning::before {
	content: "\48";
}
.icon-publish::before {
	content: "\47";
}
.icon-save::before {
	content: "\47";
}
.icon-ok::before {
	content: "\47";
}
.icon-checkmark::before {
	content: "\47";
}
.icon-unpublish::before {
	content: "\4a";
}
.icon-cancel::before {
	content: "\4a";
}
.icon-eye-close::before {
	content: "\4b";
}
.icon-minus::before {
	content: "\4b";
}
.icon-purge::before {
	content: "\4c";
}
.icon-trash::before {
	content: "\4c";
}
.icon-envelope::before {
	content: "\4d";
}
.icon-mail::before {
	content: "\4d";
}
.icon-mail-2::before {
	content: "\4e";
}
.icon-unarchive::before {
	content: "\4f";
}
.icon-drawer::before {
	content: "\4f";
}
.icon-archive::before {
	content: "\50";
}
.icon-drawer-2::before {
	content: "\50";
}
.icon-box-add::before {
	content: "\51";
}
.icon-box-remove::before {
	content: "\52";
}
.icon-search::before {
	content: "\53";
}
.icon-filter::before {
	content: "\54";
}
.icon-camera::before {
	content: "\55";
}
.icon-play::before {
	content: "\56";
}
.icon-music::before {
	content: "\57";
}
.icon-grid-view::before {
	content: "\58";
}
.icon-grid-view-2::before {
	content: "\59";
}
.icon-menu::before {
	content: "\5a";
}
.icon-thumbs-up::before {
	content: "\5b";
}
.icon-thumbs-down::before {
	content: "\5c";
}
.icon-delete::before {
	content: "\49";
}
.icon-remove::before {
	content: "\49";
}
.icon-cancel-2::before {
	content: "\49";
}
.icon-save-new::before {
	content: "\5d";
}
.icon-plus-2::before {
	content: "\5d";
}
.icon-ban-circle::before {
	content: "\5e";
}
.icon-minus-sign::before {
	content: "\5e";
}
.icon-minus-2::before {
	content: "\5e";
}
.icon-key::before {
	content: "\5f";
}
.icon-quote::before {
	content: "\60";
}
.icon-quote-2::before {
	content: "\61";
}
.icon-database::before {
	content: "\62";
}
.icon-location::before {
	content: "\63";
}
.icon-zoom-in::before {
	content: "\64";
}
.icon-zoom-out::before {
	content: "\65";
}
.icon-expand::before {
	content: "\66";
}
.icon-contract::before {
	content: "\67";
}
.icon-expand-2::before {
	content: "\68";
}
.icon-contract-2::before {
	content: "\69";
}
.icon-health::before {
	content: "\6a";
}
.icon-wand::before {
	content: "\6b";
}
.icon-unblock::before {
	content: "\6c";
}
.icon-refresh::before {
	content: "\6c";
}
.icon-vcard::before {
	content: "\6d";
}
.icon-clock::before {
	content: "\6e";
}
.icon-compass::before {
	content: "\6f";
}
.icon-address::before {
	content: "\70";
}
.icon-feed::before {
	content: "\71";
}
.icon-flag-2::before {
	content: "\72";
}
.icon-pin::before {
	content: "\73";
}
.icon-lamp::before {
	content: "\74";
}
.icon-chart::before {
	content: "\75";
}
.icon-bars::before {
	content: "\76";
}
.icon-pie::before {
	content: "\77";
}
.icon-dashboard::before {
	content: "\78";
}
.icon-lightning::before {
	content: "\79";
}
.icon-move::before {
	content: "\7a";
}
.icon-next::before {
	content: "\7b";
}
.icon-previous::before {
	content: "\7c";
}
.icon-first::before {
	content: "\7d";
}
.icon-last::before {
	content: "\e000";
}
.icon-loop::before {
	content: "\e001";
}
.icon-shuffle::before {
	content: "\e002";
}
.icon-arrow-first::before {
	content: "\e003";
}
.icon-arrow-last::before {
	content: "\e004";
}
.icon-chevron-up::before {
	content: "\e005";
}
.icon-uparrow::before {
	content: "\e005";
}
.icon-arrow-up::before {
	content: "\e005";
}
.icon-chevron-right::before {
	content: "\e006";
}
.icon-arrow-right::before {
	content: "\e006";
}
.icon-chevron-down::before {
	content: "\e007";
}
.icon-downarrow::before {
	content: "\e007";
}
.icon-arrow-down::before {
	content: "\e007";
}
.icon-chevron-left::before {
	content: "\e008";
}
.icon-arrow-left::before {
	content: "\e008";
}
.icon-arrow-up-2::before {
	content: "\e009";
}
.icon-arrow-right-2::before {
	content: "\e00a";
}
.icon-download::before {
	content: "\e00b";
}
.icon-arrow-down-2::before {
	content: "\e00b";
}
.icon-arrow-left-2::before {
	content: "\e00c";
}
.icon-play-2::before {
	content: "\e00d";
}
.icon-menu-2::before {
	content: "\e00e";
}
.icon-arrow-up-3::before {
	content: "\e00f";
}
.icon-arrow-right-3::before {
	content: "\e010";
}
.icon-arrow-down-3::before {
	content: "\e011";
}
.icon-arrow-left-3::before {
	content: "\e012";
}
.icon-print::before {
	content: "\e013";
}
.icon-printer::before {
	content: "\e013";
}
.icon-color-palette::before {
	content: "\e014";
}
.icon-camera-2::before {
	content: "\e015";
}
.icon-file::before {
	content: "\e016";
}
.icon-file-remove::before {
	content: "\e017";
}
.icon-save-copy::before {
	content: "\e018";
}
.icon-copy::before {
	content: "\e018";
}
.icon-cart::before {
	content: "\e019";
}
.icon-basket::before {
	content: "\e01a";
}
.icon-broadcast::before {
	content: "\e01b";
}
.icon-screen::before {
	content: "\e01c";
}
.icon-tablet::before {
	content: "\e01d";
}
.icon-mobile::before {
	content: "\e01e";
}
.icon-users::before {
	content: "\e01f";
}
.icon-briefcase::before {
	content: "\e020";
}
.icon-download::before {
	content: "\e021";
}
.icon-upload::before {
	content: "\e022";
}
.icon-bookmark::before {
	content: "\e023";
}
.icon-out-2::before {
	content: "\e024";
}
.alert {
	padding: 8px 35px 8px 14px; border-radius: 4px; border: 1px solid rgb(251, 238, 213); border-image: none; color: rgb(192, 152, 83); margin-bottom: 18px; position: relative; text-shadow: 0px 1px 0px rgba(255,255,255,0.5); background-color: rgb(252, 248, 227); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.alert h4 {
	margin: 0px;
}
.alert .close {
	top: 4px; right: 10px; line-height: 18px; font-size: 20px; position: absolute; cursor: pointer;
}
.alert-success {
	border-color: rgb(214, 233, 198); color: rgb(70, 136, 71); background-color: rgb(223, 240, 216);
}
.alert-danger {
	border-color: rgb(238, 211, 215); color: rgb(185, 74, 72); background-color: rgb(242, 222, 222);
}
.alert-error {
	border-color: rgb(238, 211, 215); color: rgb(185, 74, 72); background-color: rgb(242, 222, 222);
}
.alert-info {
	border-color: rgb(188, 232, 241); color: rgb(58, 135, 173); background-color: rgb(217, 237, 247);
}
.alert-block {
	padding-top: 14px; padding-bottom: 14px;
}
.alert p {
	margin-bottom: 0px;
}
.alert ul {
	margin-bottom: 0px;
}
.alert-block p + p {
	margin-top: 5px;
}
.pagination {
	margin: 10px 0px 4px; padding: 8px 0px; width: 100%; text-align: center; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: dotted; float: left;
}
.pagination ul {
	margin: 0px; text-align: center;
}
.pagination ul li {
	margin: 0px 10px 0px 0px; display: inline;
}
.pagination ul li a {
	background: url("../images/mod_bg.png") repeat-x rgb(222, 222, 222); padding: 4px 8px; border-radius: 6px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(153, 153, 153); line-height: 16px; font-weight: bold; text-decoration: none; box-shadow: inset -1px -1px 0px #ababab; text-shadow: 0px 1px 0px #fff; -webkit-border-radius: 6px; -moz-border-radius: 6px; -webkit-box-shadow: -1px -1px 0px #ababab inset; -moz-box-shadow: -1px -1px 0px #ababab inset;
}
.pagination ul li a {
	color: rgb(51, 51, 51); font-weight: bold; text-decoration: none;
}
.pagination ul li.disabled a {
	color: rgb(171, 171, 171);
}
.pagination ul li.active a {
	color: rgb(171, 171, 171);
}
.pagination ul li a:hover {
	color: rgb(0, 0, 0);
}
ul.pagenav {
	text-align: center; padding-top: 10px; margin-top: 10px; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: dotted;
}
ul.pagenav li {
	list-style: none; margin: 0px; display: inline;
}
ul.pagenav .pagenav-prev {
	margin-right: 5px; display: inline-block;
}
ul.pagenav .pagenav-next {
	margin-right: 5px; display: inline-block;
}
ul.pagenav .previous {
	margin-right: 5px; display: inline-block;
}
ul.pagenav .next {
	margin-right: 5px; display: inline-block;
}
ul.pagenav .pagenav-prev a {
	background: url("../images/mod_bg.png") repeat-x rgb(222, 222, 222); padding: 4px 8px; border-radius: 6px; border: 1px solid rgb(204, 204, 204); border-image: none; line-height: 16px; font-weight: bold; text-decoration: none; display: inline-block; box-shadow: inset -1px -1px 0px #ababab; -webkit-border-radius: 6px; -moz-border-radius: 6px; -webkit-box-shadow: -1px -1px 0px #ababab inset; -moz-box-shadow: -1px -1px 0px #ababab inset;
}
ul.pagenav .pagenav-next a {
	background: url("../images/mod_bg.png") repeat-x rgb(222, 222, 222); padding: 4px 8px; border-radius: 6px; border: 1px solid rgb(204, 204, 204); border-image: none; line-height: 16px; font-weight: bold; text-decoration: none; display: inline-block; box-shadow: inset -1px -1px 0px #ababab; -webkit-border-radius: 6px; -moz-border-radius: 6px; -webkit-box-shadow: -1px -1px 0px #ababab inset; -moz-box-shadow: -1px -1px 0px #ababab inset;
}
ul.pagenav .previous a {
	background: url("../images/mod_bg.png") repeat-x rgb(222, 222, 222); padding: 4px 8px; border-radius: 6px; border: 1px solid rgb(204, 204, 204); border-image: none; line-height: 16px; font-weight: bold; text-decoration: none; display: inline-block; box-shadow: inset -1px -1px 0px #ababab; -webkit-border-radius: 6px; -moz-border-radius: 6px; -webkit-box-shadow: -1px -1px 0px #ababab inset; -moz-box-shadow: -1px -1px 0px #ababab inset;
}
ul.pagenav .next a {
	background: url("../images/mod_bg.png") repeat-x rgb(222, 222, 222); padding: 4px 8px; border-radius: 6px; border: 1px solid rgb(204, 204, 204); border-image: none; line-height: 16px; font-weight: bold; text-decoration: none; display: inline-block; box-shadow: inset -1px -1px 0px #ababab; -webkit-border-radius: 6px; -moz-border-radius: 6px; -webkit-box-shadow: -1px -1px 0px #ababab inset; -moz-box-shadow: -1px -1px 0px #ababab inset;
}
ul.pagenav .pagenav-prev a:hover {
	background: url("../images/content_wrapper.png") repeat-x rgb(255, 255, 255); color: rgb(0, 0, 0);
}
ul.pagenav .pagenav-next a:hover {
	background: url("../images/content_wrapper.png") repeat-x rgb(255, 255, 255); color: rgb(0, 0, 0);
}
ul.pagenav .previous a:hover {
	background: url("../images/content_wrapper.png") repeat-x rgb(255, 255, 255); color: rgb(0, 0, 0);
}
ul.pagenav .next a:hover {
	background: url("../images/content_wrapper.png") repeat-x rgb(255, 255, 255); color: rgb(0, 0, 0);
}
fieldset {
	background: url("../images/mod_bg.png") repeat-x rgb(222, 222, 222); padding: 10px; border-radius: 8px; margin-bottom: 20px; border-top-color: rgb(187, 187, 187); border-left-color: rgb(187, 187, 187); border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid; box-shadow: inset 1px 1px 2px #bebebe; -webkit-border-radius: 8px; -moz-border-radius: 8px; -webkit-box-shadow: 1px 1px 2px #bebebe inset; -moz-box-shadow: 1px 1px 2px #bebebe inset;
}
fieldset legend {
	background: rgb(255, 255, 255); padding: 2px 8px; border-radius: 4px; border: 1px solid rgb(222, 222, 222); border-image: none; font-size: 12px; font-weight: bold; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
fieldset.filters .btn-group {
	float: left;
}
fieldset.filters .pull-right {
	float: right;
}
.form-vertical .control-label {
	width: auto; text-align: left; padding-top: 0px; padding-right: 0px; float: none;
}
.form-vertical .controls {
	margin-left: 0px;
}
.form-horizontal .control-group {
	margin-bottom: 6px;
}
.form-horizontal .control-group::before {
	line-height: 0; display: table; content: "";
}
.form-horizontal .control-group::after {
	line-height: 0; display: table; content: "";
}
.form-horizontal .control-group::after {
	clear: both;
}
.form-horizontal .control-label {
	width: 140px; text-align: right; padding-top: 5px; float: left;
}
.form-horizontal .controls {
	margin-left: 160px;
}
.form-horizontal :first-child.controls {
	
}
.form-horizontal .help-block {
	margin-top: 9px; margin-bottom: 0px;
}
.form-horizontal .form-actions {
	padding-left: 160px;
}
.form-horizontal .hide {
	display: none;
}
.form-horizontal input {
	margin-bottom: 0px; vertical-align: middle; display: inline-block;
}
.form-horizontal textarea {
	margin-bottom: 0px; vertical-align: middle; display: inline-block;
}
.form-horizontal select {
	margin-bottom: 0px; vertical-align: middle; display: inline-block;
}
.form-horizontal .help-inline {
	margin-bottom: 0px; vertical-align: middle; display: inline-block;
}
.form-horizontal .uneditable-input {
	margin-bottom: 0px; vertical-align: middle; display: inline-block;
}
.form-horizontal .input-prepend {
	margin-bottom: 0px; vertical-align: middle; display: inline-block;
}
.form-horizontal .input-append {
	margin-bottom: 0px; vertical-align: middle; display: inline-block;
}
dl.search-results .result-title {
	font-weight: bold; margin-top: 10px;
}
dl.search-results .result-category {
	color: rgb(153, 153, 153); font-size: 11px; margin-top: -24px; float: right; display: inline-block;
}
dl.search-results .result-text {
	font-size: 12px;
}
dl.search-results .result-created {
	color: rgb(153, 153, 153); font-size: 11px;
}
ul.autocompleter-choices li {
	margin-left: 0px;
}
h4.result-title {
	font-size: 14px; margin-bottom: 0px;
}
dt.result-title {
	font-size: 14px; margin-bottom: 0px;
}
dt.result-title a {
	text-decoration: none;
}
ul.search-results li {
	margin-bottom: 10px;
}
ul.search-results li p.result-text {
	margin-bottom: 0px;
}
dl.search-results dd.result-text {
	margin-bottom: 0px;
}
li .result-url {
	color: rgb(153, 153, 153);
}
table.weblinks {
	width: 100%;
}
table.newsfeeds {
	width: 100%;
}
table.category {
	width: 100%;
}
table.jlist-table {
	width: 100%;
}
table.weblinks th {
	background-position: 0px bottom; padding: 3px 3px 5px; text-align: left; color: rgb(255, 255, 255); font-size: 12px; background-image: url("../images/dark_gradient.png"); background-repeat: repeat-x;
}
table.newsfeeds th {
	background-position: 0px bottom; padding: 3px 3px 5px; text-align: left; color: rgb(255, 255, 255); font-size: 12px; background-image: url("../images/dark_gradient.png"); background-repeat: repeat-x;
}
table.category th {
	background-position: 0px bottom; padding: 3px 3px 5px; text-align: left; color: rgb(255, 255, 255); font-size: 12px; background-image: url("../images/dark_gradient.png"); background-repeat: repeat-x;
}
table.jlist-table th {
	background-position: 0px bottom; padding: 3px 3px 5px; text-align: left; color: rgb(255, 255, 255); font-size: 12px; background-image: url("../images/dark_gradient.png"); background-repeat: repeat-x;
}
table.weblinks th a {
	color: rgb(255, 255, 255) !important; text-decoration: none;
}
table.newsfeeds th a {
	color: rgb(255, 255, 255) !important; text-decoration: none;
}
table.category th a {
	color: rgb(255, 255, 255) !important; text-decoration: none;
}
table.jlist-table th a {
	color: rgb(255, 255, 255) !important; text-decoration: none;
}
table.weblinks td {
	padding: 3px; color: rgb(102, 102, 102);
}
table.newsfeeds td {
	padding: 3px; color: rgb(102, 102, 102);
}
table.category td {
	padding: 3px; color: rgb(102, 102, 102);
}
table.jlist-table td {
	padding: 3px; color: rgb(102, 102, 102);
}
table.weblinks td p {
	margin-bottom: 0px;
}
table.newsfeeds td p {
	margin-bottom: 0px;
}
table.category td p {
	margin-bottom: 0px;
}
table.jlist-table td p {
	margin-bottom: 0px;
}
table.weblinks td a {
	font-weight: bold; text-decoration: none;
}
table.newsfeeds td a {
	font-weight: bold; text-decoration: none;
}
table.category td a {
	font-weight: bold; text-decoration: none;
}
table.jlist-table td a {
	font-weight: bold; text-decoration: none;
}
table.weblinks td a:hover {
	color: rgb(0, 0, 0); text-decoration: underline;
}
table.newsfeeds td a:hover {
	color: rgb(0, 0, 0); text-decoration: underline;
}
table.category td a:hover {
	color: rgb(0, 0, 0); text-decoration: underline;
}
table.jlist-table td a:hover {
	color: rgb(0, 0, 0); text-decoration: underline;
}
table.weblinks td.hits {
	padding: 10px; text-align: center;
}
table.newsfeeds td.hits {
	padding: 10px; text-align: center;
}
table.category td.hits {
	padding: 10px; text-align: center;
}
table.jlist-table td.hits {
	padding: 10px; text-align: center;
}
table.weblinks tr {
	border: 1px solid rgb(171, 171, 171); border-image: none;
}
table.newsfeeds tr {
	border: 1px solid rgb(171, 171, 171); border-image: none;
}
table.category tr {
	border: 1px solid rgb(171, 171, 171); border-image: none;
}
table.jlist-table tr {
	border: 1px solid rgb(171, 171, 171); border-image: none;
}
td.table_footer {
	background: url("../images/table_footer.gif") repeat-x left bottom rgb(221, 221, 221);
}
table {
	width: 100%; margin-bottom: 10px;
}
th {
	padding: 0.2em 1em; text-align: left; vertical-align: top;
}
td {
	padding: 0.2em 1em; text-align: left; vertical-align: top;
}
thead th {
	padding: 0.4em 1em 0.2em;
}
thead th.table-head {
	text-transform: uppercase; font-size: 1em; font-weight: normal;
}
table.tableStyle caption {
	text-align: left; font-style: italic; margin-bottom: 10px;
}
table.tableStyle th {
	padding: 2px 10px; border-right-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; background-color: rgb(238, 238, 238);
}
table.tableStyle td {
	padding: 2px 10px; border-right-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
.cat-list-row0 td {
	border: 1px solid rgb(171, 171, 171); border-image: none; box-shadow: inset 1px 1px 0px #efefef; -webkit-box-shadow: 1px 1px 0px #efefef inset; -moz-box-shadow: 1px 1px 0px #efefef inset;
}
.cat-list-row1 td {
	border: 1px solid rgb(171, 171, 171); border-image: none; box-shadow: inset 1px 1px 0px #efefef; -webkit-box-shadow: 1px 1px 0px #efefef inset; -moz-box-shadow: 1px 1px 0px #efefef inset;
}
ul.list-striped {
	border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid;
}
.cat-list-row0 {
	border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.cat-list-row1 {
	background: rgb(240, 240, 240); border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
ul.list-striped li {
	list-style: none; padding: 5px 10px 1px; margin-left: 0px;
}
ul.list-striped li p {
	margin-bottom: 5px;
}
.jicons-icons {
	padding: 0px 7px 0px 0px; float: left;
}
.contact-image img {
	margin: 10px 0px 10px 10px;
}
.contact-user-details {
	margin: 10px 0px;
}
.contact-form {
	margin-top: 10px;
}
.contact-links {
	margin-top: 10px;
}
.contact-miscinfo {
	margin-top: 10px;
}
.contact-address dd {
	margin-bottom: 0px;
}
.feed-description {
	color: rgb(102, 102, 102); font-style: italic; margin-bottom: 10px;
}
.feed-item-description img {
	margin: 4px 10px 10px 0px; border: 2px solid rgb(204, 204, 204); border-image: none;
}
div.panel {
	background: rgb(238, 238, 238); border-radius: 4px; border: 1px solid rgb(171, 171, 171); border-image: none; margin-bottom: 15px; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
div.accordion-group {
	background: rgb(238, 238, 238); border-radius: 4px; border: 1px solid rgb(171, 171, 171); border-image: none; margin-bottom: 15px; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
div.panel .content {
	background: url("../images/content_wrapper.png") repeat-x 0px 0px rgb(255, 255, 255); padding: 10px; border-radius: 0px 0px 4px 4px; border-top-color: rgb(187, 187, 187); border-top-width: 1px; border-top-style: solid; -webkit-border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px;
}
div.accordion-inner {
	background: url("../images/content_wrapper.png") repeat-x 0px 0px rgb(255, 255, 255); padding: 10px; border-radius: 0px 0px 4px 4px; border-top-color: rgb(187, 187, 187); border-top-width: 1px; border-top-style: solid; -webkit-border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px;
}
div.panel h3.pane-toggler {
	background: url("../images/content_wrapper.png") repeat-x rgb(255, 255, 255); padding: 5px; border-radius: 4px; font-size: 12px; margin-bottom: 0px; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
div.panel h3.pane-toggler-down {
	background: url("../images/content_wrapper.png") repeat-x rgb(255, 255, 255); padding: 5px; border-radius: 4px; font-size: 12px; margin-bottom: 0px; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
div.accordion-group div.accordion-heading {
	background: url("../images/content_wrapper.png") repeat-x rgb(255, 255, 255); padding: 5px; border-radius: 4px; font-size: 12px; margin-bottom: 0px; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
div.panel h3.pane-toggler-down {
	border-radius: 4px 4px 0px 0px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; -webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0;
}
div.accordion-group div.accordion-heading {
	border-radius: 4px 4px 0px 0px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; -webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0;
}
div.panel h3.pane-toggler-down a {
	background: url("../images/up.png") no-repeat right 50%; height: 21px; line-height: 21px; text-decoration: none; display: block;
}
div.accordion-heading a {
	background: url("../images/up.png") no-repeat right 50%; height: 21px; line-height: 21px; text-decoration: none; display: block;
}
div.panel h3.pane-toggler a {
	background: url("../images/down.png") no-repeat right 50%; height: 21px; line-height: 21px; text-decoration: none; display: block;
}
div.accordion-heading a.collapsed {
	background: url("../images/down.png") no-repeat right 50%; height: 21px; line-height: 21px; text-decoration: none; display: block;
}
.fade {
	transition:opacity 0.15s linear; opacity: 0; -webkit-transition: opacity .15s linear; -moz-transition: opacity .15s linear; -o-transition: opacity .15s linear;
}
.fade.in {
	opacity: 1;
}
.collapse {
	transition:height 0.35s; height: 0px; overflow: hidden; position: relative; -webkit-transition: height .35s ease; -moz-transition: height .35s ease; -o-transition: height .35s ease;
}
.collapse.in {
	height: auto;
}
.close {
	color: rgb(0, 0, 0); line-height: 18px; font-size: 20px; font-weight: bold; float: right; opacity: 0.2; text-shadow: 0px 1px 0px #ffffff;
}
.close:hover {
	color: rgb(0, 0, 0); text-decoration: none; cursor: pointer; opacity: 0.4;
}
button.close {
	background: none; padding: 0px; border: 0px currentColor; border-image: none; cursor: pointer; -webkit-appearance: none;
}
.accordion-group .in {
	display: block;
}
div.login-fields {
	padding: 5px 0px;
}
div.login-fields label {
	width: 24%; display: inline-block;
}
p#form-login-username label {
	width: 160px; display: block;
}
p#form-login-password label {
	width: 160px; display: block;
}
p#form-login-remember label {
	line-height: 25px; font-size: 0.9em; font-weight: normal;
}
p#form-login-remember input {
	margin-right: 5px; float: left;
}
form#form-login ul {
	margin: 0px; padding: 0px;
}
form#form-login ul li {
	font-size: 0.9em; margin-left: 20px; list-style-type: none;
}
#top ul.joomla-nav {
	margin-right: 0px; margin-bottom: 0px;
}
#footer_menu ul.joomla-nav {
	margin-right: 0px; margin-bottom: 0px;
}
#top ul.joomla-nav-menu {
	margin-right: 0px; margin-bottom: 0px;
}
#footer_menu ul.joomla-nav-menu {
	margin-right: 0px; margin-bottom: 0px;
}
#top ul.menu {
	margin-right: 0px; margin-bottom: 0px;
}
#footer_menu ul.menu {
	margin-right: 0px; margin-bottom: 0px;
}
#top ul.joomla-nav li {
	margin: 0px 20px 0px 0px; display: inline;
}
#footer_menu ul.joomla-nav li {
	margin: 0px 20px 0px 0px; display: inline;
}
#top ul.joomla-nav-menu li {
	margin: 0px 20px 0px 0px; display: inline;
}
#footer_menu ul.joomla-nav-menu li {
	margin: 0px 20px 0px 0px; display: inline;
}
#top ul.menu li {
	margin: 0px 20px 0px 0px; display: inline;
}
#footer_menu ul.menu li {
	margin: 0px 20px 0px 0px; display: inline;
}
#top li a {
	font-size: 11px; text-decoration: none;
}
#footer_menu li a {
	font-size: 11px; text-decoration: none;
}
#top li a:hover {
	text-decoration: underline;
}
#footer_menu li a:hover {
	text-decoration: underline;
}
#top {
	text-align: right; color: rgb(204, 204, 204); margin-bottom: 10px; float: right;
}
#top a {
	color: rgb(153, 153, 153);
}
#top a:hover {
	color: rgb(255, 255, 255);
}
#top-empty {
	height: 30px;
}
.category-desc {
	overflow: hidden; margin-bottom: 10px;
}
.cols-1 {
	margin: 0px !important; float: none !important; display: block;
}
.cols-2 .column-1 {
	width: 46%; float: left;
}
.cols-2 .column-2 {
	margin: 0px; width: 46%; float: right;
}
.cols-3 .column-1 {
	padding: 0px 5px; width: 29%; margin-right: 4%; float: left;
}
.cols-3 .column-2 {
	padding: 0px 5px; width: 29%; margin-left: 0px; float: left;
}
.cols-3 .column-3 {
	padding: 0px 5px; width: 29%; float: right;
}
.items-row {
	width: 100%; float: left;
}
.items-more {
	width: 100%; float: left;
}
.column-1 {
	padding: 10px 5px;
}
.column-2 {
	padding: 10px 5px;
}
.column-3 {
	padding: 10px 5px;
}
.column-2 {
	width: 55%; margin-left: 40%;
}
.column-3 {
	width: 30%;
}
.blog-more {
	padding: 10px 5px;
}
.item {
	margin-bottom: 5px;
}
.blog .item-separator {
	margin-bottom: 30px;
}
.items-leading {
	float: left;
}
.content_item {
	width: 100%; margin-bottom: 20px; float: left;
}
h1 {
	letter-spacing: -1.5px; font-family: "Droid Sans", sans-serif;
}
#content_area h2 {
	letter-spacing: -1.5px; font-family: "Droid Sans", sans-serif;
}
h3 {
	letter-spacing: -1.5px; font-family: "Droid Sans", sans-serif;
}
h4 {
	letter-spacing: -1.5px; font-family: "Droid Sans", sans-serif;
}
h5 {
	letter-spacing: -1.5px; font-family: "Droid Sans", sans-serif;
}
h6 {
	letter-spacing: -1.5px; font-family: "Droid Sans", sans-serif;
}
h1 {
	font-weight: bold;
}
h2 {
	font-weight: bold;
}
h3 {
	font-weight: bold;
}
h4 {
	font-weight: bold;
}
h5 {
	font-weight: normal;
}
h6 {
	font-weight: normal;
}
